{% include 'admin_header.html' %}

<div class="banner-wrapper">
  <div id="first-slider" class="carousel fade-carousel slide">
    <div id="carousel-example-generic" class="carousel slide carousel-fade"> 
      <!-- Overlay -->
      <div class="overlay"></div>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item slides active">
          <div class="slide-1"><img src="/static/images/banner1.jpg" alt="Barrister"></div>
          <div class="row">
            <div class="container">
              <div class="hero"> <img class="icon" data-animation="animated bounceInLeft" src="/static/images/header-law-icon.png" alt="">
                <h3 data-animation="animated bounceInLeft" class="">Welcome Back</h3>
                <h1 data-animation="animated bounceInLeft" class="">Admin</span></h1>
                </div>
            </div>
          </div>
        </div>
        
      <div class="slide-arrows"><a class="left carousel-control" href="#first-slider" data-slide="prev"><span class="transition3s glyphicon glyphicon-chevron-left fa fa-angle-left"></span></a> <a class="right carousel-control" href="#first-slider" data-slide="next"><span class="transition3s glyphicon glyphicon-chevron-right fa fa-angle-right"></span></a></div>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br>
{% include 'footer.html' %}