{% include 'public_header.html' %}

<div class="banner-wrapper">
  <div id="first-slider" class="carousel fade-carousel slide">
    <div id="carousel-example-generic" class="carousel slide carousel-fade"> 
      <!-- Overlay -->
      <div class="overlay"></div>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item slides active">
          <div class="slide-1"><img src="/static/images/banner1.jpg" alt="Barrister"></div>
          <div class="row">
            <div class="container">
              <div class="hero"> <img class="icon" data-animation="animated bounceInLeft" src="/static/images/header-law-icon.png" alt="">
                <h3 data-animation="animated bounceInLeft" class="">With Public & Police</h3>
                <h1 data-animation="animated bounceInLeft" class="">everyone <span>matters</span></h1>
                </div>
            </div>
          </div>
        </div>
        
      <div class="slide-arrows"><a class="left carousel-control" href="#first-slider" data-slide="prev"><span class="transition3s glyphicon glyphicon-chevron-left fa fa-angle-left"></span></a> <a class="right carousel-control" href="#first-slider" data-slide="next"><span class="transition3s glyphicon glyphicon-chevron-right fa fa-angle-right"></span></a></div>
    </div>
  </div>
</div>

<!-- Barrister Experience Wrapper End --> 
<!-- Barrister Welcome Wrapper End -->
<div class="barrister-service-wrapper">
  <div class="container">
    <div class="title"> <span class="title-border-img"><img src="/static/images/h1-line-img1.png" alt=""></span>
      <h2>Our Service</h2>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="service-item">
          <h3>Disaster Management & Emergency Preparedness</h3>
          <p>Collaborating with agencies to provide effective response and recovery plans in times of natural or man-made disasters.</p>
          <a href="javascript:void(0)">Read More</a>
          <div class="icon-box"><img src="/static/images/service-item-icon1.png" alt=""></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="service-item">
          <h3>Women & Child Protection</h3>
          <p>Dedicated services to safeguard women and children, ensuring justice and support for victims of abuse.</p>
          <a href="javascript:void(0)">Read More</a>
          <div class="icon-box"><img src="/static/images/service-item-icon2.png" alt=""></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="service-item">
          <h3>Missing Persons & Rescue Operations</h3>
          <p>Acting swiftly to locate missing individuals and conducting rescue missions in emergencies.</p>
          <a href="javascript:void(0)">Read More</a>
          <div class="icon-box"><img src="/static/images/service-item-icon3.png" alt=""></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="service-item">
          <h3>Cybercrime & Digital Safety</h3>
          <p>Protecting citizens from online threats, fraud, and cybercrime through advanced investigative techniques.</p>
          <a href="javascript:void(0)">Read More</a>
          <div class="icon-box"><img src="/static/images/service-item-icon4.png" alt=""></div>
        </div>
      </div>
      
    </div>
  </div>
</div>
<!-- Barrister Welcome Wrapper End --> 
<!-- Barrister Satisfied Wrapper start -->

{% include 'footer.html' %}